body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h1 {
  color: #38bdf8;
  text-shadow: 0 0 15px #38bdf8;
}

#search {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.game {
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.game:hover {
  transform: scale(1.05);
  background: #334155;
}

.game img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.game p {
  padding: 10px;
  text-align: center;
}

.player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
}

.topbar {
  height: 50px;
  background: #111;
  display: flex;
}

.topbar button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.player iframe {
  width: 100%;
  height: calc(100% - 50px);
  border: none;
}
